<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <!-- <ul class="list-group"> -->
    <!-- <li class="list-group-item" ng-repeat="user in users | orderBy:'email'"> -->
      <table class="table table-striped">
        <tr ng-repeat="user in users | orderBy:'email'">
          <td><strong>{{user.name}}</strong><td>
          <td>{{user.loginCnt}} logins<td>
          <td><span class="text-muted">{{user.email}}</span></td>
          <td><a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a></td>
        </tr>
      </table>
    <!-- </li>
  </ul> -->
</div>
