.roster-intro {
    margin-bottom: 20px;
    font-style: italic;
    color: $text-color-very-light;
}

table.roster-grid, table.admin-roster-grid, .table-striped.roster-grid {
  font-size: 0.8em;
  th {
    background-color: rgba($text-color-highlight, 0.8);
    color: white;
    text-align: center;
    vertical-align: middle;
  }
  td {
    text-align: left;
    vertical-align: middle;
  }
  a {
    text-decoration: none;
    color: DarkOliveGreen;
  }
  .editable-click, a.editable-click {
    border-bottom: none;
  }
  .centered-text {
    text-align: center;
  }
  .roster-empty-cell {
    background-color: rgba(Khaki, 0.3);
  }
  span.decorations, a.decorations {
    color: FireBrick;
    font-weight: bold;
  }
  .roster-data-cell {
  }
  .roster-deceased-cell {
    color: red;
    a {
      color: red;
    }
  }
  .roster-reunion-cell {
    text-align: center;
    background-color: rgba(OliveDrab, 0.4);
  }

  .roster-no-reunions {
    color: white;
    text-align:center;
    .editable-click, a.editable-click {
      color: white;
    }
  }

  .roster-officer-cell {
    color: DarkSlateBlue;
    font-weight: bold;
    .editable-click, a.editable-click {
      color: DarkSlateBlue;
      font-weight: bold;
    }

  }

  .roster-blank-row {
    color: $text-color-very-light;
    text-align: left;
    font-size: 1.2em;
    background-color: rgba($text-color-highlight, 0.1);
  }
}

table.roster-grid, table.admin-roster-grid {
  .editable.editable-click.editable-empty {
    color: rgba(Khaki, 0.3);
  }
}

.pdf-btn {
  margin-left: 100px;
}



input.roster-input {
  width: 50%;
}
