.roster-intro {
    margin-bottom: 20px;
    font-style: italic;
    color: $text-color-very-light;
}

table.roster-grid, .table-striped.roster-grid {
  font-size: 0.8em;
  a {
    text-decoration: none;
    color: DarkOliveGreen;
  }
  .editable-click, a.editable-click {
    border-bottom: none;
  }
  .roster-empty-cell {
    background-color: rgba(Khaki, 0.3);
  }
  .roster-data-cell {
  }
  .roster-deceased-cell {
    color: red;
    a {
      color: red;
    }
  }
  .roster-reunion-cell {
    text-align: center;
    background-color: rgba(OliveDrab, 0.4);
  }

  .roster-no-reunions {
    color: white;
    text-align:center;
    .editable-click, a.editable-click {
      color: white;
    }
  }

  .roster-officer-cell {
    color: DarkSlateBlue;
    font-weight: bold;
    .editable-click, a.editable-click {
      color: DarkSlateBlue;
      font-weight: bold;
    }
  }
}


th {
  background-color: rgba($text-color-highlight, 0.8);
  color: white;
}

input.roster-input {
  width: 50%;
}
