<div class="container-fluid contact-form">
  <h3>{{ msgtitle }}</h3>

  <div class="alert alert-danger" ng-show="error">
    <button class="close" data-dismiss="alert">x</button>
    <strong>Error!</strong> An error occured while trying to send message.
  </div>


  <form role="form" name="contactForm">
    <p>{{ msgintro }}</p>
    <div class="form-group" ng-class="{error: contactForm.name.$invalid}">
      <label>Full Name</label>
      <input class="form-control" type="text" name="name" ng-model="user.name" required="required" placeholder="Your name" autofocus />
      <span class="help-block" ng-show="contactForm.name.$error.required">Required</span>
    </div>

    <div class="form-group" ng-class="{error: contactForm.email.$invalid}">
      <label>Email</label>
      <input class="form-control" type="email" name="email" ng-model="user.email" required="required" placeholder="Your email address" />
      <span class="help-block" ng-show="contactForm.email.$error.required">Required</span>
      <span class="help-block" ng-show="contactForm.email.$error.email">Invalid email address</span>
    </div>

    <div class="form-group" ng-class="{error: contactForm.message.$invalid}">
      <label>Message</label>
      <textarea class="form-control" rows="5" name="message" ng-model="user.body" required="required" placeholder="Your messsage"></textarea>
      <span class="help-inline" ng-show="contactForm.message.$error.required">Required</span>
    </div>

    <button class="btn btn-primary btn-lg" ng-click="sendMsg()" ng-disabled="contactForm.$invalid">Send Message</button>
  </form>
</div>
