.contact-form {
  margin-top: 20px;
  margin-left: 20px;
  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
    font-style: italic;
    color: $text-color-very-light;
  }
}
