
.hero-unit.bios {
  background: url('/assets/images/color-splash.jpg') no-repeat center/cover;
  padding: 40px;
  border-radius: 5px;
  .hero-text-block {
    margin: 0;
    padding: 10px;
    background: rgba(white, .8);
    text-align: left;
    border-radius: 5px;
  }
}

label {
  margin-right: 4px;
}

.edit-person {
  &:hover {
    cursor: pointer;
    color: mediumblue;
  }
}
.image-col {
  width: 75px;
  img {
    border-radius: 50%;
    float:left;
  }
}

.show-more, .show-less, .add-reflection-link, .view-pdf-link {
  color: mediumblue;
  // color: #A25193;
  &:hover {
    cursor: pointer;
  }
}
// .show-less {
//   color: mediumblue;
//   // color: #A25193;
//   &:hover {
//     cursor: pointer;
//   }
// }
.info-col {
  .bio-photos {
    img {
      float: right;
      clear: right;
      margin-left: 10px;
      margin-bottom: 10px;
      border: 1px solid black;
    }
  }
}
.bios-filter {
  margin-bottom: 20px;
}

input.bios-input {
  width: 60%;
}

.modal-body {
  input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  textarea {
    padding: 10px;
    width: 100%;
  }
}

.reflection {
  padding-top: 0px;
  pre {
    font-family: $base-font-family;
    font-size: 1em;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;

    word-wrap: break-word;
	  white-space: pre;
	  white-space: -moz-pre-wrap; /* fennec */
    white-space: pre-wrap;
	  white-space: pre\9; /* IE7+ */
    word-break: normal; /* webkit */
  }
  pre code {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    font-size: 0.9em;
  }
}
.reflection-admin {
  .fa-trash {
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  &:hover {
    cursor: pointer;
    color: red;
    border: 2px solid red;
  }
}

.modal-reflection-by, .modal-reflection-body {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.modal-reflection-by {
  margin-bottom: 10px;
}

form[novalidate] input {
  border-left-width: 8px;
  border-color: #3498db;
  border-style: solid;
}

form[novalidate] textarea {
  border-left-width: 8px;
  border-color: #3498db;
  border-style: solid;
}

input[required].ng-pristine {
  border-color: #ef4c3c;
}

input.ng-invalid.ng-dirty {
  border-color: #ef4c3c;
}

input.ng-valid.ng-dirty {
  border-color: #2ecc71;
}

textarea[required].ng-pristine {
  border-color: #ef4c3c;
}

textarea.ng-invalid.ng-dirty {
  border-color: #ef4c3c;
}

textarea.ng-valid.ng-dirty {
  border-color: #2ecc71;
}

.modal-input-err {
  color: red;
  font-size: 0.8em;
  margin-left: 10px;
  margin-top: 0px;
  padding-top: 0;
}

#bio-tabs.nav-tabs > li > a {
  text-decoration: none;
  color: $text-color;

}

#bio-tabs.nav-tabs > li.active > a, #bio-tabs.nav-tabs > li.active > a:hover, #bio-tabs.nav-tabs > li.active > a:focus {
  color: $logo-main-color;
}
