$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

$logo-main-color: #DD151E;
$text-color: #343434;
$text-color-highlight: #20306A;
$text-color-light: #565656;
$text-color-very-light: #b5afaf;
$nl-header-color: #F8CA00;
$base-font-family: 'Lato', sans-serif;
$other-font-family: Georgia;

// for grids
$base-image-width: 255px;
$base-image-height: 255px;

body {
  font-family: $base-font-family;
}

h1, h2, h3, h4, h5 {
  font-family: $base-font-family;
  font-weight: 300;
  color: $text-color-highlight;
}

.section-header {
  font-family: $base-font-family;
  margin-bottom: 30px;
  text-align: left;
  a {
  color: rgb(100, 100, 100);
  font-weight: 300;
  font-style: italic;
  font-size: 27px;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 0px;
  display: inline-block;
  // margin:0;
  }
}
.subsection-header {
  font-family: $base-font-family;
  margin-bottom: 30px;
  text-align: left;
  color: rgb(100, 100, 100);
  font-weight: 300;
  font-size: 27px;
  padding-bottom: 0px;
  display: inline-block;
    // margin:0;
}

.container-fluid {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.navbar {
  font-size: 13px;
  navbar-option {
    color: #777;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    line-height: 20px;
    position: relative;
    display: block;
    background: transparent;
    text-align: match-parent;
    &:hover {
      cursor: pointer;
      color: #555;
      // background-color: #e7e7e7;
    }
  }
  // font-weight: bold;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'contact/contact.scss';
@import 'fallen/fallen.scss';
@import 'fallen/id/id.scss';
@import 'main/main.scss';
@import 'newsletters/newsletters.scss';
@import 'photos/photos.scss';
@import 'contactUs/contactUs.scss';
@import 'footer/footer.scss';
@import 'modal/modal.scss';
@import 'reflectionInputForm/reflectionInputForm.scss';
@import 'showName/showName.scss';
// endinjector
