<div ng-include="'components/navbar/navbar.html'"></div>

<div class="hero-unit home">
  <div class="container">
    <h1>USMC The Basic School<br>Company A1-68</h1>
    <p class="lead" ng-show="!isLoggedIn()">
      Alpha Company, The Basic School Class of 1-68 gathered in Quantico, Virginia in July 1967.
      &nbsp 219 Lieutenants graduated at the end of the year, receiving their assigned military occupational specialties
      and orders to duty.
      Those assigned to the infantry went directly to Vietnam, or to recon training, and then to Vietnam.
    <br>
    <a class="btn btn-lg btn-success btn-contact" href="/login">Login <span class="fa fa-angle-right"></span></a>
    <br><br>
    After logging in and browsing this site, be sure to also visit the Official A1-68 Website:<br>
      <a class="btn btn-lg btn-success btn-contact" ng-click="clickOfficialSite()">A1-68 Official Website <span class="fa fa-angle-right"></span></a>
    </p>

    <p class="lead" ng-show="isLoggedIn()">
      Alpha Company, The Basic School Class of 1-68 gathered in Quantico, Virginia in July 1967.
      &nbsp 219 Lieutenants graduated at the end of the year, receiving their assigned military occupational specialties
      and orders to duty.
      Those assigned to the infantry went directly to Vietnam, or to recon training, and then to Vietnam.<br><br>
      After browsing this site, be sure to also visit the Official A1-68 Website:&nbsp
        <a class="btn btn-lg btn-success btn-contact" ng-click="clickOfficialSite()">A1-68 Official Website <span class="fa fa-angle-right"></span></a>
    </p>
  </div>
</div>
<!-- <div class="photo-credit">
Rappahannock River in Fredericksburg, VA  |  Photograph by <a href="http://www.flickr.com/photos/rcsj/" target="_blank">Rob Shenk</a>  |  <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">Creative Commons License</a>
</div> -->
<div class="container-fluid">
  <div class="selling-points row">
    <div class="point col-md-4">
      <h2>For our Fallen</h2>
      <p>
        Sadly, 49 of our class members are no longer with us. We lost some in combat and others later in life.
        Each was taken too soon.
        We Marines have all sworn a solemn oath to honor those who have gone before us, and this site is dedicated to
        our fallen.
      </p>
    </div>
    <div class="point col-md-4">
      <h2>2015 Reunion</h2>
      <p>
        April 28th through May 3rd, 2015 many classmates came together in Fredericksburg, Virginia for our first reunion.
        This was a special occasion indeed. Numerous special events were held, including a memorial service at the Vietnam Wall.
      </p>
    </div>
    <div class="point col-md-4">
      <h2>TBS Classmates</h2>
      <p>
        Use this site to learn more about TBS-A1-68 classmates. Browse photos and biographies of our fallen, locate a classmate with our <em>Classmate Map</em>, or use the
        <em>Class Roster</em> to learn more about your classmates -- like where they went to school or where they are located.
      </p>
    </div>

  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
