<div ng-include="'components/navbar/navbar.html'"></div>

<div class="hero-unit home">
  <div class="container">
    <h1>USMC The Basic School<br>Company A-1-68 Reunion</h1>
    <p class="lead" ng-show="!isLoggedIn()">
      Find out more about this reunion!
      <a class="btn btn-lg btn-success btn-contact" href="/contact">Learn More <span class="fa fa-check"></span></a>
    </p>

    <p class="lead" ng-show="isLoggedIn()">
      <strong>Tuesday April 28th - Sunday May 3rd 2015</strong><br>
      Fredericksburg Hospitality House Hotel<br>
      Fredericksburg, VA<br>
      <a class="btn btn-lg btn-success btn-contact" href="http://tbs1-68usmc.com/" target="_blank">Register for Reunion</a>
    </p>
  </div>
</div>
<!-- <div class="photo-credit">
Rappahannock River in Fredericksburg, VA  |  Photograph by <a href="http://www.flickr.com/photos/rcsj/" target="_blank">Rob Shenk</a>  |  <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">Creative Commons License</a>
</div> -->
<div class="container-fluid">
  <div class="selling-points row">
    <div class="point col-md-4">
      <h2>April 28th - May 3rd, 2015</h2>
      <p>
        In July of 1967, 219 Marine lieutenants assembled at The Basic School at Quantico, Virginia.
        Basic Class 1-68 will conduct a reunion of our classmates on Tuesday, April 28th through
        Sunday, May 3rd, 2015. It has been nearly 48 years since we were
        together at Quantico -- this promises to be a special occasion indeed.
      </p>
    </div>
    <div class="point col-md-4">
      <h2>Fredericksburg, VA</h2>
      <p>
        Reconnect with your TBS A-168 classmates in historic Fredericksburg, Virginia.
        Join us for numerous special events including a memorial service at the Vietnam Wall. While in Fredericksburg, make sure to visit the homeplace of George Washington, and walk in the footsteps of Civil
        War generals.
      </p>
    </div>
    <div class="point col-md-4">
      <h2>For our Fallen</h2>
      <p>
        Sadly, 49 of our class members are no longer with us. We lost some in combat and others later in life.
        Each was taken too soon.
        Family members of those who've fallen are invited to participate in reunion activities - especially the memorial service that we will hold at the Vietnam Wall. Several of our widows have signed up early to join us,
        and we hope many more will do so.
      </p>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>


<!-- <div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer> -->
