// ********** Photo Gallery
.photo-grid {
  margin: 100px;
}
.masonry-brick {
  img {
    min-width: 100%;
    &:hover {
      cursor: pointer;
      opacity: .8;
    }
  }
  float: left; // !important
  width: 300px;
  margin: 10px;
  border-color: $text-color-light;
  border: 1px solid;
}

.photo-container {
  padding: 40px;
  border-radius: 5px;
  background: url('/assets/images/silver.jpg') no-repeat center/cover;
}

// ********** Full-Size Photo Styles

.full-size-photo {
  img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .next-prev-controls {
    font-family: $base-font-family;
    margin-top: 10px;
    text-align: center;
    color: $text-color-light;
    &:hover {
      cursor: pointer;
    }
  }
}

.next-prev-controls {
  font-size: 20px;
}

.image {
  position: relative;
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  img {
    min-width: 100%;
  }
}
.photo-names {
  position: relative;
  margin-top: -25px;
  margin-left: -25px;
  margin-right: -25px;
  text-align: center;
  background: black;
  border-radius: 10%;

}

// ********** Animation between gallery & full-size photos

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  transition:0.5s linear all;
  display:block!important;
  opacity:1;
}

.animate-show-hide.ng-hide {
  opacity:0;
}

.animate-show-hide.ng-hide-remove,
.animate-show-hide.ng-hide-add {
  /* the .ng-hide class is added to element
  when the active class is added causing it to appear
  as hidden. Therefore set the styling to display=block
  so that the hide animation is visible */
  display:block!important;
}

// .animate-show-hide {
//   transform-origin: center;
// }

.animate-show-hide.ng-hide-add {
  -webkit-animation:0.5s fadeOutDown ease;
  -moz-animation:0.5s fadeOutDown ease;
  animation:0.5s fadeOutDown ease;
}

.animate-show-hide.ng-hide-remove {
  -webkit-animation: 0.5s fadeIn ease;
  -moz-animation: 0.5s fadeIn ease;
  animation: 0.5s fadeIn ease;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.1;
    height: 100;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}


@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
