<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid photo-container" ng-show="isLoggedIn()">
  <div class="section-header">
    <h3><a href="/">> Home</a><a href="/photos"> > Photos</a></h3>
  </div>
  <div masonry ng-hide="!galleryMode" >
  <!-- <masonry ng-hide="!galleryMode" > -->
    <div ng-repeat="photo in photos" class="masonry-brick" >
      <!-- <img ng-src="{{photo.path}}" ng-click="goToState(photo._id, photo.stateName, photo.stateParams)"> -->
      <img ng-src="{{photo.thumb}}" image-on-load ng-click="clickGalleryImage($event, $index)">
    </div>
  </div>
  <!-- </masonry> -->

  <div class="full-size-photo animate-show-hide" ng-hide="galleryMode">
    <p class="next-prev-controls">
      <span class="fa fa-chevron-left" ng-click="goToPrevious()"></span>
      <span ng-click="goToPrevious()">Previous</span>
      <span>  |  </span>
      <span ng-click="toggleGalleryMode(-1)"> Return to Gallery </span>
      <span>  |  </span>
      <span ng-click="goToNext()">Next</span>
      <span class="fa fa-chevron-right" ng-click="goToNext()"></span>
    </p>
    <div class="image">
      <img ng-src="{{clickedPhoto.image}}">
      <!-- divs for all the peoples names in the photos -->
      <div ng-repeat="region in clickedPhoto.regions">
        <div ng-mouseenter="setRegionActive(region)"
             ng-mouseleave="setRegionInactive(region)" ng-style="getRegionStyle(region)" >
          <div class="photo-names">{{region.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" ng-show="!isLoggedIn()">
  <p>Please log in to view the TBS Reunion Photographs.</p>
</div>

<div ng-include="'components/footer/footer.html'"></div>
