<div ng-include="'components/navbar/navbar.html'"></div>

<div class="section-header members-only">
  <h2><a href="/members">> Members Only</a><a href="/fallen"> > For our Fallen</a></h2>
</div>

<div class="hero-unit fallen" ng-show="isLoggedIn()">
  <div class="container-fluid fallen">
    <p>
      Sadly, 49 members of our class of 219 are no longer with us.
      We lost some in combat and others later in life. Each was taken too soon.
    </p>

    <p>
      Our mission is to contact the families of each of our 49 fallen to:
      <ul>
        <li>Assure them that they are remembered.
          We Marines have all sworn a solemn oath to honor
          those who have gone before us. Fittingly, the most important
          facet of our reunion is fulfilling this commitment to the
          families of our fallen Marine brothers; and
        </li>
        <li>Invite their family members to participate in reunion activities with us.
          memorial service that we will hold at the Vietnam Wall.
          Several of our widows have signed up early to join us and
          we hope many more will do so; and
        </li>
        <li>Gather life information about each of our fallen for a class booklet
          to be shared among our class members. There are many biographical
          gaps to be filled and shared among old friends who have lost touch
          over the many years.
        </li>
      </ul>
    </p>
    <p>We are starting our family outreach search with this website and our
      Facebook page. Please contact us to let us know that we have reached
      one of our family members and to re-join our Marine Corps family.
    </p>
    <p>
      We look forward to your joining us.
    </p>
  </div>
</div>

<div class="section-header members-only" ng-show="isLoggedIn()">
  <h2>Deceased</h2>
</div>


<div class="container-fluid fallen-list" ng-show="isLoggedIn()">
  <div class="fallen-filter">
    Find: <input type="text" class="fallen-input" data-ng-model="fallen.filterStr" />
  </div>
  <table class="table table-bordered person-table">
    <tr ng-repeat="person in fallenList | filter:fallen.filterStr" class="person">
      <td class="image-col"><img ng-src="{{person.image}}"></td>
      <td class="info-col">
        <strong>{{ person.name }}, </strong><br>
        {{ person.platoon }} Platoon<br>
        {{ person.restPlace}}
      </td>
    </tr>
  </table>
</div>

<div class="container-fluid" ng-show="!isLoggedIn()">
  <p>Please log in to view this area.</p>
</div>


<div ng-include="'components/footer/footer.html'"></div>
