
.hero-unit.fallen {
  background: url('/assets/images/color-splash.jpg') no-repeat center/cover;
  padding: 40px;
  border-radius: 5px;
  .hero-text-block {
    margin: 0;
    padding: 10px;
    background: rgba(white, .8);
    text-align: left;
    border-radius: 5px;
  }
}

label {
  margin-right: 4px;
}
.person-table {
  width: 50%;
  margin-left: 40px;
}
.image-col {
  width: 75px;
  img {
    border-radius: 50%;
  }
}

.fallen-filter {
  margin-bottom: 20px;
}

input.fallen-input {
  width: 60%;
}
