
.hero-unit.fallen {
  background: url('/assets/images/color-splash.jpg') no-repeat center/cover;
  padding: 40px;
  border-radius: 5px;
  .hero-text-block {
    margin: 0;
    padding: 10px;
    background: rgba(white, .8);
    text-align: left;
    border-radius: 5px;
  }
}

label {
  margin-right: 4px;
}
.person-table {
  // width: 90%;
  // margin-left: 40px;
}
.edit-person {
  &:hover {
    cursor: pointer;
    color: mediumblue;
  }
}
.image-col {
  width: 75px;
  img {
    border-radius: 50%;
    float:left;
  }
}

.show-more, .show-less, .add-reflection-link {
  color: mediumblue;
  // color: #A25193;
  &:hover {
    cursor: pointer;
  }
}
// .show-less {
//   color: mediumblue;
//   // color: #A25193;
//   &:hover {
//     cursor: pointer;
//   }
// }
.info-col {
  .bio-photos {
    img {
      float: right;
      clear: right;
      margin-left: 10px;
      margin-bottom: 10px;
      border: 1px solid black;
    }
  }
}
.fallen-filter {
  margin-bottom: 20px;
}

input.fallen-input {
  width: 60%;
}
