<div>
  <div class="modal-header">
    <h3 class="modal-title">Enter your reflection for: {{ person.name }}</h3>
    <p>Add a memory of {{ person.name }} below, and let us know who this
      memory is from.
    </p>
  </div>
  <div class="modal-body">
    <label></label>
    <input class="reflection-by"type="text" name="from" ng-model="reflection.by" required="required" placeholder="Name of who this reflection is from">
    <textarea class="reflection-body" rows="23" ng-model="reflection.body" required="required" placeholder="Add reflection or memory here"></textarea>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="save()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</div>
